# Operadores Aritméticos

In [ ]:
#adição
10 + 2

12

In [ ]:
#subtação
10 - 2

8

In [ ]:
#Divisão
10 / 2

5.0

In [ ]:
#Divisão inteiro
10 // 2

5

In [ ]:
#Rosto da divisão
10 % 2

0

In [ ]:
#Roterização
10 ** 2

100

# Operações Relacionais

In [ ]:
#Menor
10 > 2

True

In [ ]:
#Menor ou igual
10 <= 2

False

In [ ]:
#Maior
10 > 2

True

In [ ]:
#Maior ou igual
25 >= 10

True

In [ ]:
# Igual
7 == 7

True

In [ ]:
# Diferente
7 != 7

False

Operadores Lógicos


*   And
*   Or
*   Not

Tabela da Verdade

And

In [ ]:
print(10 > 2 and 10 > 12)
print(10 > 2 and 10 < 12)
print(10 < 2 and 10 < 12)
print(10 > 2 and 10 > 12)

False
True
False
False

Or

In [ ]:
print(10 > 2 or 10 > 12)
print(10 > 2 or 10 < 12)
print(10 < 2 or 10 < 12)
print(10 > 2 or 10 > 12)

True
True
True
True

Not

In [ ]:
not 2 > 1
not 2 < 1

True

#Operações variaveis

In [ ]:
# Nome da variável é "x" que armazena o valor 10 em um espaço na memória
x = 10

print(x) # Utiliar a referencia nome atribuido

10

Regras
*   A != a

Boas práticas com Variáveis

*   Exemplo: Multiplicação de 2 números

Não usar

*   Multiplicação
*   multiplicaçãoDeDoisNúmero
*   M

Usar


*   multiplicação
*   mult
*   mult_total(snake_case)

In [ ]:
#multiplicação
x * 10

100

# Visualização de Variáveis e textos

In [ ]:
print("conhecendo o comando Print")

x = 8
print (x)

conhecendo o comando Print
8

In [ ]:
y = 10
soma = x + y
print(soma)

18

In [ ]:
nome = 'Gênesis Melo'
print(nome)

Gênesis Melo

Contatenação

In [ ]:
x = 5
print('O valor de x é',x)

O valor de x é 5

In [ ]:
print('o valor de x é', x,'é o dobro é',x * 2)

o valor de x é 5 é o dobro é 10

In [ ]:
print('Eu,', nome,'tirei', x,'na prova de Python')

Eu, Gênesis Melo tirei 5 na prova de Python

In [ ]:
y = 10; z = 20 + x -y
print('Declarar várias variaveis na mesma linha:', y, z)

Declarar várias variaveis na mesma linha: 10 15

Type

In [ ]:
x = 10
type(x)
print('x', type(x))

nome = 'Gênesis'
print('nome', type(nome))

num = '100'
num_convert = int(num) #Converter variável
print('num', type(num_convert))
print('num_conver', type(num_convert))

num_float = float(num)
print('num_float', num_float)

x <class 'int'>
nome <class 'str'>
num <class 'int'>
num_conver <class 'int'>
num_float 100.0

Input
* Armazenar a informação digiatada pelo usuário em uma variável
* O dado armazenado sempre será um texto

In [ ]:
nome = input("Digite o nome do usuário") # Aguarde o usuário digitar algo
print(nome)

Digite o nome do usuárioGênesis
Gênesis

In [ ]:
valor = input('Digite a nota')

print(nome, 'sua nota foi', valor)

Digite a nota 10
Gênesis sua nota foi  10

In [ ]:
valor = input('digite o valor do produto:')
print(valor)

digite o valor do produto:10
10

In [ ]:
desconto = valor - 5

NameError: name 'valor' is not defined

In [ ]:
valor_convet = int(valor)
desconto - valor_convet - 5
print(desconto)

NameError: name 'valor' is not defined

In [ ]:
desconto = int(valor) - 5
print(desconto)

NameError: name 'valor' is not defined

# Condicional

In [ ]:
#If
if 5 < 10:
  print('Verdade')

Verdade

In [ ]:
#if/else
num1 = 10
num2 = 5
if num1 > num2:
  print('O num1 é o maior número')
else:
    print('O num2 é o maior número')

O num1 é o maior número

In [ ]:
# If/ Elif / Else
num1 = 10
num2 = 10
if num1 > num2:
  print('O num1 é o maior número')
elif num1 < num2:
    print('o num2 é o maior número')
else:
    print('Os dois são iguais')

Os dois são iguais

# Condicional com operadores lógicos

In [ ]:
num1 = 10
num2 = 5
num3 = 2
if (num1 > num2) and (num1 > num3):
  print('O num1 é maior número')
else:
  print('O num1 não é maior número')

O num1 é maior número

# Listas, tuplas e dicionários

In [ ]:
# Lista
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [ ]:
# Tupla
(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [ ]:
# Dicionário
{'num1': 1, 'num2': 2}

{'num1': 1, 'num2': 2}

# Lista

In [ ]:
lista =[5, 'Rodrigo',8.9]

In [ ]:
type(lista)

list

In [ ]:
lista.append("Gênesis") # ADcionar um elemento na lista

In [ ]:
print(lista)
print(lista[1])

[5, 'Rodrigo', 8.9, 'Gênesis']
Rodrigo

# Tupla

In [ ]:
Tupla = (5,'Gênesis', 8.9)

In [ ]:
type(Tupla)

tuple

In [ ]:
tupla.append("Lázaro")

NameError: name 'tupla' is not defined

In [ ]:
print(Tupla)

(5, 'Gênesis', 8.9)

# Dicionário

In [ ]:
dicionario = {'nome':'Gênesis','cidade':'São Paulo'}

In [ ]:
type(dicionario)

dict

In [ ]:
print(dicionario)

{'nome': 'Gênesis', 'cidade': 'São Paulo'}

In [ ]:
print(dicionario["nome"])

Gênesis

In [ ]:
dicionario['ultimo_nome']='Rebouças'

In [ ]:
print(dicionario)

{'nome': 'Gênesis', 'cidade': 'São Paulo', 'ultimo_nome': 'Rebouças'}

# Estrutura de repetição

# For

In [ ]:
# For Range
for contador in range(10):
  print(contador)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# For Range + Break
for contador in range(1000):
  print(contador)
  if contador == 2:
    break

0
1
2

In [ ]:
lista = ["Teste1","Teste2"]

In [ ]:
# For Simples
for val in lista:
    print(val)

Teste1
Teste2

In [ ]:
# for con enumerate
for i,  val in enumerate(lista):
    print(i, val)

0 Teste1
1 Teste2

# For com operadores compostos

In [ ]:
lista2 = [2, 3, 4]

In [ ]:
for val in lista2:
    val += 1
    print(val)

3
4
5

In [ ]:
for val in lista2:
    val *= 2
    print(val)

4
6
8

# While

In [ ]:
# While com else
val = 1
while val < 6:
   val*=2
else:
    print('Valor de val é:', val)

Valor de val é: 8

In [ ]:
val = 1
while(val < 6):
     val*=2
     print(val)

2
4
8

# Calculadora

In [ ]:

#calculadora basica

# operação
print('Selecione o número da operação desejada:')
print('1 - Soma')
print('2 - Subtrair')
print('3 - Multiplicação')
print('4 - Divisão')

operacao = int(input())
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o segundo número: '))

if operacao == 1:
  print(num1 + num2)

elif operacao == 2:
  print(num1 - num2)

elif operacao == 3:
  print(num1 * num2)

elif operacao == 4:
  print(num1 / num2)
else: resultado == num1 / num2

Selecione o número da operação desejada:
1 - Soma
2 - Subtrair
3 - Multiplicação
4 - Divisão
1
Digite o primeiro número: 2
Digite o segundo número: 5
7